---
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Welcome />
  <img src="/astro-web/ia.jpg" alt="inteligencia Artificial" />
  <h1>Aqui tienes algunos enlaces de paginas de Inteligencia Artificial</h1>
  <section class="projects">
    <Card
      title="¡Hola! Soy ChatGPT"
      description="Soy un modelo de inteligencia artificial desarrollado por OpenAI. Estoy diseñado para ayudarte a responder preguntas, generar ideas, escribir textos, resolver problemas, aprender cosas nuevas, programar, y mucho más."
      image="/astro-web/chatgpt.jpg"
      link="https://chatgpt.com"
    />

    <Card
      title="¡Hola! Soy BLACKBOX.AI"
      description="Soy un asistente diseñado para ayudarte con diversas consultas. Puedo responder preguntas, proporcionar información y ayudar con problemas , sobre programación, depuración de código y conceptos de desarrollo de software ,todo de manera rápida y eficiente. Estoy aquí para hacer tu vida más fácil."
      image="/astro-web/blackbox.jpg"
      link="https://www.blackbox.ai/"
    />
    <Card
      title="¡Hola! Soy Qwen"
      description="Soy un modelo de lenguaje de gran tamaño desarrollado por Alibaba Cloud. Puedo ayudarte a responder preguntas, crear textos como cuentos, documentos oficiales, correos electrónicos, guiones, razonamientos lógicos, programación, y mucho más."
      image="/astro-web/qwen.jpg"
      link="https://chat.qwen.ai/"
    />
 <Card
      title="¡Hola! Soy v0.dev"
      description="Soy el asistente de IA de Vercel. Estoy aquí para ayudarte a crear aplicaciones web, componentes de React, interfaces de usuario y mucho más."
      image="/astro-web/v0-dev.jpg"
      link="https://v0.dev/"
    />
   <Card
      title="Crear Apps sin código"
      description="La plataforma sin código que te permite crear aplicaciones profesionales en minutos, no meses."
      image="/astro-web/magic-loops.png"
      link="https://magicloops.dev/es"
    />
  
    <Card
      title="¡Hola! Soy Codeium"
      description="Soy un asistente de IA diseñado para ayudarte a escribir código, depurar errores, aprender nuevos conceptos de programación y mucho más."
      image="/astro-web/codeiumAI.jpg"
      link="https://codeium.com/"/>

    <Card
      title="¡Hola! Soy Bolt"
      description="Soy un asistente de IA experto en desarrollo de software creado por StackBlitz. Puedo ayudarte a escribir código, depurar errores, aprender nuevos conceptos de programación y mucho más."
      image="/astro-web/bolt-new.jpg"
      link="https://bolt.new/"
    />

     <Card
      title="¡Hola! Soy Gemini"
      description="Soy un modelo de lenguaje grande, entrenado por Google.  Puedo ayudarte a responder preguntas, generar ideas, escribir textos, resolver problemas, aprender cosas nuevas, programar, y mucho más."
      image="/astro-web/gemini.jpg"
      link="https://gemini.google.com/"
    />
  </section>

</Layout>

<style>
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
  }

  p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 20px auto;
  }
</style>
